body {

    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 1rem;

    font-weight: 400;

    line-height: 1.5;

    color: #212529;

    text-align: left;

    background-color: rebeccapurple;

    font-family: 'Roboto', sans-serif;

}



#Contact{

    margin-top: 20%;

    color: white;

}



#boutonEnvoyer{

    color: rebeccapurple !important;

    font-size: 18px !important;

}



#marque {   color: rebeccapurple;}#page1  {   color: rebeccapurple;   float: left;}#page2 {   color: rebeccapurple;}#borduresearch  {   border-color: rebeccapurple;}#fontsearch{   background-color: rebeccapurple;   color: white;   border-color: rebeccapurple;}



[tabindex="-1"]:focus {

    outline: 0 !important;

}